# Author: Luca Obwegs
.venv*/
__pycache__/
*.py[cod]
simulation/build/
simulation/install/
simulation/log/
STM32Code/**/Debug/
STM32Code/**/Release/
STM32Code/**/.metadata/
STM32Code/**/.settings/
STM32Code/**/*.launch
